<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="sourceFilePath" value="e:\Epam\M13.Streams.Task\ConsoleClient\Source.txt"/>
        <add key="destinationFilePath" value="e:\Epam\M13.Streams.Task\ConsoleClient\Destination.txt"/>
    </appSettings>
</configuration>